<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<!-- Appenders -->
	<!-- 控制台日志输出 -->
	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
			value="[%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p]%c- %m%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
<!-- 			<param name="levelMin" value="debug" /> -->
			<param name="levelMin" value="error" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- 输出日志到文件  每天一个文件 -->  
    <appender name="dailyTrace"  
        class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="ImmediateFlush" value="true"/>
        <param name="File" value="${webapp.root}/WEB-INF/logs/trace.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" 
            	value="[%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p]%c- %m%n" />  
        </layout>
        
        <!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
    </appender>  
    
    <appender name="dailyException"  
        class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="ImmediateFlush" value="true"/>
        <param name="File" value="${webapp.root}/WEB-INF/logs/exception.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" 
            	value="[%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p]%c- %m%n" />  
        </layout>
        
        <!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="ERROR " />
			<param name="levelMax" value="ERROR " />
			<param name="AcceptOnMatch" value="true" />
		</filter>
    </appender>  
    
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug " />
		<appender-ref ref="myConsole" />
		<appender-ref ref="dailyTrace" />
		<appender-ref ref="dailyException" />
	</root>

</log4j:configuration>
